@import "tailwindcss";

@theme {
	--color-primary: #87cbb9;
	--color-secondary: #f4e285;
	--color-accent: #ffb997;
	--color-light: #faf3dd;
	--color-text: #ebebeb;
	--color-header: #004857;

	--color-glass: #ffffff20;
	--color-border-glass: #ffffff4d;
}

body {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-text);
}

.img-grid {
	@apply w-full rounded-lg aspect-video object-cover h-full;
}

.card {
  @apply bg-accent p-3.5 w-52 rounded-lg text-center shadow-lg;
}
